In [ ]:
import pandas as pd

local = "../Csvs/"
arquivos = ['2019-01', '2019-02', '2019-03', '2019-04',
            '2019-05', '2019-06', '2019-07', '2019-08',
            '2019-09', '2019-10', '2019-11', '2019-12',
            '2020-01', '2020-02', '2020-03', '2020-04',
            '2020-05'] # lista de arquivos que temos

In [46]:
df_companies = pd.read_csv('companies.csv', delimiter=',')
df_cities = df_companies.loc[:,['City','State']].drop_duplicates()

In [47]:
df_cities

                 City        State
0    LONG ISLAND CITY     NEW YORK
1             NORWALK  CONNECTICUT
2          SYKESVILLE     MARYLAND
3             ATLANTA      GEORGIA
4              WAUPUN    WISCONSIN
..                ...          ...
136         GREENBELT     MARYLAND
137       SPRINGFIELD         OHIO
143           NORFOLK          NaN
146           MILFORD     NEBRASKA
147          LEESBURG     VIRGINIA

[83 rows x 2 columns]

In [48]:
for arquivo in arquivos:
    df1 = pd.read_csv(local + arquivo + ' compressed.csv', delimiter=';').loc[:,['ORIGIN_CITY_NAME','ORIGIN_STATE_NM']]
    df1.columns = ['City','State']
    df2 = pd.read_csv(local + arquivo + ' compressed.csv', delimiter=';').loc[:,['DEST_CITY_NAME','DEST_STATE_NM']].drop_duplicates()
    df2.columns = ['City','State']
    df = pd.concat([df1,df2]).drop_duplicates()
    df = df.applymap(lambda x: x.upper())
    df.City = df.City.apply(lambda x: (x[:-4]))
    df_cities = pd.concat([df_cities,df]).drop_duplicates()

In [49]:
df_cities.City = df_cities.City.apply(lambda x: x.upper())
df_cities = df_cities.drop_duplicates()
df_cities = df_cities.sort_values(by='City',ascending=True)
df_cities.index = range(1,df_cities.shape[0]+1)

In [55]:
df_cities.to_csv('cities.csv', sep=',', index=False)

In [ ]:
pd.to_csv?